SERVICE_URL_CADDY=http://localhost:3000
CADDY_PORT=3000
SERVICE_USER_MYSQL=local
SERVICE_PASSWORD_MYSQL=local
SERVICE_PASSWORD_MYSQLROOT=localroot
SERVICE_PASSWORD_CLICKHOUSE=local
CADDY_LOG_OUTPUT=stdout