{
	admin off

	servers {
		trusted_proxies static private_ranges
	}
}

:{$CADDY_PORT:80} {
	log {
		output {$CADDY_LOG_OUTPUT:discard}
		format json
	}

	handle_path /.ghost/stats/* {
		reverse_proxy {$TRAFFIC_STATS_HOST:traffic-stats}:3000
	}

	handle_path /.ghost/analytics/* {
		reverse_proxy {$TRAFFIC_ANALYTICS_HOST:traffic-analytics}:3000
	}

	handle {
		reverse_proxy ghost:2368
	}
}
